<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONSUÉLO ~ BLOG</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//glenthemes.github.io/iconsax/geticons.js"></script>
    <link href="//glenthemes.github.io/iconsax/style.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="bg-secondary">
    <!-- component -->
    <div class="flex flex-row min-h-screen">
      <aside class="sidebar fixed w-64 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-indigo-500">
        <!-- sidebar header  -->
        <div
          class="flex h-screen flex-col border-r bg-primary-60 text-white static"
        >
          <div class="sidebar-header flex space-x-1 px-4 py-4">
            <a href="/user/home">
              <img alt="consuelo-logo" src="/images/logo.png" />
            </a>
            <h1 class="px-2 text-white font-bold text-lg">Consuelo</h1>
          </div>

          <!-- sidebar -->
          <nav
            aria-label="Main Nav"
            class="main-nav mt-20 flex flex-col space-y-2 w-full"
          >
            <a
              href="/user/home"
              class="flex items-center px-4 py-3"
            >

              <i class="iconsax" icon-name="layout-2"></i>
              <span class="ml-3 text-sm font-medium"> Home </span>
            </a>

            <a
              href="/user/self-affirmation"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="document-sketch"></i>
              <span class="ml-3 text-sm font-medium"> Self Affirmation </span>
            </a>

            <a
              href="/user/mental-health-tips"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="message-dots-notif"></i>
              <span class="ml-3 text-sm font-medium"> Mental Health Tips </span>
            </a>

            <a
              href="/user/forum"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="group"></i>
              <span class="ml-3 text-sm font-medium"> Forum </span>
            </a>

            <a
              href="/user/blog"
              class="flex items-center px-4 py-3 nav-active"
            >
            <i class="iconsax" icon-name="document-text-1"></i>
              <span class="ml-3 text-sm font-medium"> Blog </span>
            </a>

            <a href="/user/meet-a-therapist" class="flex items-center px-4 py-3">
              <i class="iconsax" icon-name="message-dash-1"></i>
              <span class="ml-3 text-sm font-medium"> Meet a therapist </span>
            </a>
            
            <a
              href="/user/logout"
              class="flex items-center px-4 py-3"
            >
              <i class="iconsax" icon-name="logout-1"></i>
              <span class="ml-3 text-sm font-medium"> Logout </span>
            </a>
          </nav>
        </div>
      </aside>

      <main class="main flex flex-col flex-grow md:ml-64 transition-all duration-150 ease-in bg-[#EFF3F6]" >
        <div>
          <header
            class="header bg-white shadow py-4 flex justify-between items-center px-10"
          >
            <div>
              <h1 class="text-xl">
                Blog
              </h1>
              <p>Our blog features different perspectives and insights on mental health issues and topics.  </p>
            </div>

            <div class="flex items-center space-x-3">
              <i class="fa-regular fa-bell"></i>

              <span
                class="flex gap-2 border-2 border-solid rounded-2xl px-2 py-1 hover:cursor-pointer"
              >
                <i class="fa-regular fa-user"></i>

                <i class="fa-solid fa-angle-down"></i>
              </span>
            </div>
          </header>

          <div class="main-content flex flex-col flex-grow py-4 px-10">
            <div class="grid gap-2">

              <!-- <% blogPosts.forEach(blogPost => { %>
                <div class="grid gap-2">
                  <div  class="flex flex-col items-start rounded-lg md:flex-row max-w-4xl">
                    <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/images/blog.png" alt="blog img">
                    
                    <div class="flex flex-col px-4 leading-normal gap-2">
                        <h2 class=""><%= blogPost.title %></h2>
      
                        <div class="flex justify-between items-center text-secondary-100 max-w-lg">
                          <p> <%= blogPost.datePosted %> </p>
                          <p>|</p>
                          <p><i class="fa-regular fa-clock"></i>  <%= blogPost.readTime %></p>
                          <p>|</p>
                          <p>written <%= blogPost.author %> </p>
                        </div>
      
                         <p class=""><%= blogPost.content %> <a href="/user/blog/<%=blogPost.id%>" class="text-primary-60 font-bold">read more...</a></p>
                    </div>
                  </div>
              <% }); %>  -->

              <div  class="flex flex-col items-start rounded-lg md:flex-row max-w-4xl">
                <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/images/blog.png" alt="blog img">
                
                <div class="flex flex-col px-4 leading-normal gap-2">
                    <h2 class="">Healing through music; the impact of music therapy on mental health</h2>
  
                    <div class="flex justify-between items-center text-secondary-100 max-w-lg">
                      <p>september 30, 2022</p>
                      <p>|</p>
                      <p><i class="fa-regular fa-clock"></i>  5 Mins Read</p>
                      <p>|</p>
                      <p>written by hussy</p>
                    </div>
  
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor massa erat aliquam lectus. Duis duis id nibh sem morbi leo eget egestas eget. Purus at tristique elementum commodo odio. Velit lacus, a, eros, suspendisse sit ipsum quis <br> <a href="#" class="text-primary-60 font-bold">read more...</a></p>
                </div>
              </div>
              <div  class="flex flex-col items-start rounded-lg md:flex-row max-w-4xl">
                <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/images/blog.png" alt="blog img">
                
                <div class="flex flex-col px-4 leading-normal gap-2">
                    <h2 class="">Healing through music; the impact of music therapy on mental health</h2>
  
                    <div class="flex justify-between items-center text-secondary-100 max-w-lg">
                      <p>september 30, 2022</p>
                      <p>|</p>
                      <p><i class="fa-regular fa-clock"></i>  5 Mins Read</p>
                      <p>|</p>
                      <p>written by hussy</p>
                    </div>
  
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor massa erat aliquam lectus. Duis duis id nibh sem morbi leo eget egestas eget. Purus at tristique elementum commodo odio. Velit lacus, a, eros, suspendisse sit ipsum quis <br> <a href="#" class="text-primary-60 font-bold">read more...</a></p>
                </div>
              </div>
              <div  class="flex flex-col items-start rounded-lg md:flex-row max-w-4xl">
                <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/images/blog.png" alt="blog img">
                
                <div class="flex flex-col px-4 leading-normal gap-2">
                    <h2 class="">Healing through music; the impact of music therapy on mental health</h2>
  
                    <div class="flex justify-between items-center text-secondary-100 max-w-lg">
                      <p>september 30, 2022</p>
                      <p>|</p>
                      <p><i class="fa-regular fa-clock"></i>  5 Mins Read</p>
                      <p>|</p>
                      <p>written by hussy</p>
                    </div>
  
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor massa erat aliquam lectus. Duis duis id nibh sem morbi leo eget egestas eget. Purus at tristique elementum commodo odio. Velit lacus, a, eros, suspendisse sit ipsum quis <br> <a href="#" class="text-primary-60 font-bold">read more...</a></p>
                </div>
              </div>

            </div>
            

          </div>

          <footer class="footer px-4 py-6">
              <nav aria-label="page navigation">
                <ul class="flex justify-center gap-2 text-afribook font-semibold poppins text-lg">
                  <li><button><i class="fa-solid fa-angle-left"></i></button></li>
                  <li><button class="border border-primary-60 rounded-lg px-2">1</button></li>
                  <li><button class="border border-afribook rounded-lg px-2">2</button></li>
                  <li><button class="border border-afribook rounded-lg px-2">3</button></li>
                  <li><button class="border border-afribook rounded-lg px-2">4</button></li>
                  <li><button class="border border-afribook rounded-lg px-2">5</button></li>
                  <li><button class="border border-afribook rounded-lg px-2">6</button></li>
                  <li><button ><i class="fa-solid fa-angle-right"></i></button></li>
                </ul>
              </nav>
          </footer>
        </div>
      </main>
    </div>
  </body>
</html>
